@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&family=Roboto:wght@300&display=swap");
* { margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;}


body { background: #F2F2F2;}


.content {
  width: 1440px;
  height: 3451px;
  margin: 0 auto;}


.header {
  width: 100%;
  height: 700px;
  background-image: url(./style/images/Dreamshare.png);
  margin-bottom: 95px;
  color: #F2F2F2;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
}

.header__logo {
  width: 63%;
  height: 36px;
  margin-top: 40px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header__logo_logo {
  width: 17%;
  height: 36px;
  font-family: 'Montserrat';
  font-size: 20px;
  font-weight: 700;
  line-height: 36px;
  text-align: center;
}

.header__logo__log-in {
  width: 17%;
  height: 36px;
  margin-left: 596px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.header__logo__log-in_log {
  width: 29%;
  height: 36px;
  font-family: 'Montserrat';
  font-size: 14px;
  font-style: normal;
  font-weight: 700;
  line-height: 17px;
  letter-spacing: 0px;
  text-align: center;
  font-weight: 400;
  line-height: 36px;
}

.header__logo__log-in_sing {
  width: 58%;
  height: 36px;
  border-radius: 40px;
  border: 1px solid #F2F2F2;
  font-family: 'Montserrat';
  font-size: 14px;
  font-style: normal;
  font-weight: 700;
  line-height: 17px;
  letter-spacing: 0px;
  text-align: center;
  font-weight: 400;
  line-height: 36px;
}

.header_txt {
  width: 34%;
  height: 126px;
  margin-top: 154px;
  font-family: 'Montserrat';
  font-size: 52px;
  font-weight: 700;
  line-height: 63px;
  text-align: center;
}

.header_txt1 {
  width: 28%;
  height: 25px;
  margin-top: 28.5px;
  font-family: 'Roboto';
  font-size: 14px;
  font-style: normal;
  font-weight: 300;
  line-height: 14px;
  text-align: center;
  font-size: 24px;
  line-height: 24px;
}

.header_txt2 {
  width: 16%;
  height: 40px;
  margin-top: 33px;
  border-radius: 40px;
  font-family: 'Montserrat';
  font-size: 14px;
  font-style: normal;
  font-weight: 700;
  line-height: 17px;
  letter-spacing: 0px;
  text-align: center;
  line-height: 40px;
  background-color: #FF4E50;
}

.section1 {
  width: 65%;
  height: 13%;
  margin: 95px auto;
}

.how {
  width: 37%;
  height: 32px;
  margin: 0 auto;
  font-family: 'Montserrat';
  font-size: 26px;
  font-style: normal;
  font-weight: 700;
  line-height: 32px;
  letter-spacing: 0px;
  margin-bottom: 35px;
}

.blc {
  height: 300px;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.blc__right {
  width: 84%;
  height: 156px;
  margin: 0 auto;
  margin-top: 224px;
}

.blc__right_step {
  width: 70px;
  height: 20px;
  background-color: #FF4E50;
  color: #F2F2F2;
  border-radius: 40px;
  font-family: 'Montserrat';
  font-weight: normal;
  font-size: 10px;
  line-height: 20px;
  text-align: center;
  letter-spacing: 2px;
  text-transform: uppercase;
  margin-bottom: 18px;
}

.blc__right_txt {
  width: 84%;
  height: 58px;
  margin-bottom: 10px;
  font-family: 'Montserrat';
  font-weight: bold;
  font-size: 24px;
  line-height: 26px;
  color: #F2F2F2;
}

.blc__right_txt1 {
  width: 84%;
  height: 57px;
  font-family: 'Roboto';
  font-size: 14px;
  font-style: normal;
  font-weight: 300;
  line-height: 14px;
  text-align: center;
  text-align: left;
  color: #F2F2F2;
}

.blc__center {
  width: 84%;
  height: 129px;
  margin: 0 auto;
  margin-top: 255px;
}

.blc__center_step {
  width: 70px;
  height: 20px;
  background-color: #FF4E50;
  color: #F2F2F2;
  border-radius: 40px;
  font-family: 'Montserrat';
  font-weight: normal;
  font-size: 10px;
  line-height: 20px;
  text-align: center;
  letter-spacing: 2px;
  text-transform: uppercase;
  margin-bottom: 18px;
}

.blc__center_txt {
  width: 84%;
  height: 29px;
  margin-bottom: 17px;
  font-family: 'Montserrat';
  font-weight: bold;
  font-size: 24px;
  line-height: 26px;
  color: #F2F2F2;
}

.blc__center_txt1 {
  width: 84%;
  height: 14px;
  font-family: 'Roboto';
  font-size: 14px;
  font-style: normal;
  font-weight: 300;
  line-height: 14px;
  text-align: center;
  text-align: left;
  color: #F2F2F2;
}

.blc__step {
  width: 32%;
  height: 400px;
}

.blc_step1 {
  background-image: url(./style/images/Dreamshare.png);
  background-position: 22% -311%;
}

.blc_step2 {
  background-image: url(./style/images/Dreamshare.png);
  background-position: 50% -311%;
}

.blc_step3 {
  background-image: url(./style/images/Dreamshare.png);
  background-position: 78% -311%;
}

.section2 {
  width: 65%;
  height: 361px;
  margin: 0 auto;
  margin-bottom: 102px;
  background-image: linear-gradient(to right, #FF4E50 1px, transparent 1px), linear-gradient(to bottom, #FF4E50 1px, transparent 1px);
  background-size: 10px 10px;
}

.meet {
  width: 53%;
  height: 32px;
  margin: 0 auto;
  font-family: 'Montserrat';
  font-size: 26px;
  font-style: normal;
  font-weight: 700;
  line-height: 32px;
  letter-spacing: 0px;
  margin-bottom: 35px;
}

.blc {
  height: 57%;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  display: flex;
  flex-direction: row;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  justify-content: space-between;
  -ms-flex-line-pack: justify;
      align-content: space-between;
}

.blc__person {
  width: 221px;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
}

.blc__person_bl1-1 {
  height: 58%;
  width: 54%;
  background-image: url(./style/images/Dreamshare.png);
  background-position: 1138px 2037px;
  border-radius: 50px 50px;
}

.blc__person_bl1-1::after {
  content: "";
  display: block;
  width: 32px;
  height: 32px;
  margin: 3px;
  border-radius: 50%;
  position: absolute;
  top: 82px;
  left: 135px;
  background-color: #FF4E50;
  background-image: url(./style/images/music.svg);
  background-size: 75%;
  background-repeat: no-repeat;
  background-position: center;
}

.blc__person_bl1-2 {
  height: 54%;
  width: 54%;
  background-image: url(./style/images/Dreamshare.png);
  background-position: 899px 2037px;
  border-radius: 50px 50px;
}

.blc__person_bl1-2::after {
  content: "";
  display: block;
  width: 32px;
  height: 32px;
  margin: 3px;
  border-radius: 50%;
  position: absolute;
  top: 82px;
  left: 135px;
  background-image: url(./style/images/pen.svg);
  background-color: #19D4CA;
  background-size: 75%;
  background-repeat: no-repeat;
  background-position: center;
}

.blc__person_bl1-3 {
  height: 54%;
  width: 54%;
  background-image: url(./style/images/Dreamshare.png);
  background-position: 659px 2037px;
  border-radius: 50px 50px;
}

.blc__person_bl1-3::after {
  content: "";
  display: block;
  width: 32px;
  height: 32px;
  margin: 3px;
  border-radius: 50%;
  position: absolute;
  top: 82px;
  left: 135px;
  background-image: url(./style/images/camera.svg);
  background-color: #FFA710;
  background-size: 75%;
  background-repeat: no-repeat;
  background-position: center;
}

.blc__person_bl1-4 {
  height: 54%;
  width: 54%;
  background-image: url(./style/images/Dreamshare.png);
  background-position: 420px 2037px;
  border-radius: 50px 50px;
}

.blc__person_bl1-4::after {
  content: "";
  display: block;
  width: 32px;
  height: 32px;
  margin: 3px;
  border-radius: 50%;
  position: absolute;
  top: 82px;
  left: 135px;
  background-image: url(./style/images/plane-departure.svg);
  background-color: #667DF3;
  background-size: 75%;
  background-repeat: no-repeat;
  background-position: center;
}

.blc__person_bl2 {
  height: 18px;
  width: 100%;
  font-family: 'Montserrat';
  font-size: 14px;
  font-style: normal;
  font-weight: 700;
  line-height: 17px;
  letter-spacing: 0px;
  text-align: center;
}

.blc__person_bl3 {
  width: 100%;
  height: 38px;
  font-family: 'Roboto';
  font-size: 14px;
  font-style: normal;
  font-weight: 300;
  line-height: 14px;
  text-align: center;
}

.othe-partner {
  width: 180px;
  height: 40px;
  margin: 0 auto;
  margin-top: 36px;
  border-radius: 40px;
  border: 2px solid #FF4E50;
  font-family: 'Montserrat';
  font-size: 14px;
  font-style: normal;
  font-weight: 700;
  line-height: 17px;
  letter-spacing: 0px;
  text-align: center;
  color: #FF4E50;
  line-height: 40px;
}

.section3 {
  width: 65%;
  height: 1031px;
  margin: 0 auto;
  margin-bottom: 88px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-line-pack: justify;
      align-content: space-between;
}

.discover {
  width: 45%;
  height: 32px;
  margin: 0 auto;
  font-family: 'Montserrat';
  font-size: 26px;
  font-style: normal;
  font-weight: 700;
  line-height: 32px;
  letter-spacing: 0px;
  margin-bottom: 4%;
}

.img {
  width: 100%;
  height: 94%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-line-pack: justify;
      align-content: space-between;
}

.img_sport {
  width: 300px;
  height: 310px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-family: 'Montserrat';
  font-size: 22px;
  font-style: normal;
  font-weight: 700;
  line-height: 27px;
  text-align: center;
  background-image: url(./style/images/Dreamshare.png);
  background-position: 1188px 1576px; 
  color: #F2F2F2;
}

.img_wellness {
  width: 300px;
  height: 310px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-family: 'Montserrat';
  font-size: 22px;
  font-style: normal;
  font-weight: 700;
  line-height: 27px;
  text-align: center;
  background-image: url(./style/images/Dreamshare.png);
  background-position: 867px 1576px;
  color: #F2F2F2;
}

.img_exreme {
  width: 300px;
  height: 310px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-family: 'Montserrat';
  font-size: 22px;
  font-style: normal;
  font-weight: 700;
  line-height: 27px;
  text-align: center;
  background-image: url(./style/images/Dreamshare.png);
  background-position: 550px 1576px;
  color: #F2F2F2;
}

.img_games {
  width: 300px;
  height: 310px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-family: 'Montserrat';
  font-size: 22px;
  font-style: normal;
  font-weight: 700;
  line-height: 27px;
  text-align: center;
  background-image: url(./style/images/Dreamshare.png);
  background-position: 1190px 1246px;
  color: #F2F2F2;
}

.img_culture {
  width: 620px;
  height: 310px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-image: url(../style/images/Dreamshare.png);
  font-family: 'Montserrat';
  font-size: 22px;
  font-style: normal;
  font-weight: 700;
  line-height: 27px;
  text-align: center;
  background-image: url(./style/images/Dreamshare.png);
  background-position: 868px 1246px;
  color: #F2F2F2;
}

.img_relax {
  width: 620px;
  height: 310px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-image: url(../style/images/Dreamshare.png);
  font-family: 'Montserrat';
  font-size: 22px;
  font-style: normal;
  font-weight: 700;
  line-height: 27px;
  text-align: center;
  background-image: url(./style/images/Dreamshare.png);
  background-position: 1191px 913px;
  color: #F2F2F2;
}

.img_trevelling {
  width: 300px;
  height: 310px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-family: 'Montserrat';
  font-size: 22px;
  font-style: normal;
  font-weight: 700;
  line-height: 27px;
  text-align: center;
  background-image: url(./style/images/Dreamshare.png);
  background-position: 550px 913px;
  color: #F2F2F2;
}

.section4 {
  width: 33%;
  height: 158px;
  margin: 0 auto;
  margin-bottom: 100px;
}

.holiday {
  width: 76%;
  line-height: 32px;
  height: 32px;
  margin: 0 auto;
  font-family: 'Montserrat';
  font-size: 26px;
  font-style: normal;
  font-weight: 700;
  line-height: 32px;
  letter-spacing: 0px;
  margin-bottom: 43px;
}

.interes {
  width: 88%;
  height: 24px;
  font-family: 'Roboto';
  font-size: 14px;
  font-style: normal;
  font-weight: 300;
  line-height: 14px;
  text-align: center;
  font-size: 18px;
  margin: auto;
  margin-bottom: 19px;
}

.form {
  width: 482px;
  height: 40px;
}

.form_type {
  width: 62%;
  height: 40px;
  float: left;
}

.form_botton {
  width: 36%;
  height: 100%;
  font-family: 'Montserrat';
  font-size: 14px;
  font-style: normal;
  font-weight: 700;
  line-height: 17px;
  letter-spacing: 0px;
  text-align: center;
  border-radius: 40px;
  float: left;
  background: #FF4E50;
  color: #F2F2F2;
  line-height: 40px;
}

.footer {
  width: 1440px;
  height: 224px;
  border-top: 2px solid #FF4E50;
}

.compani {
  width: 65%;
  height: 224px;
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
}

.compani__logo {
  width: 119px;
  height: 20px;
  margin-top: 38px;
  color: #FF4E50;
}

.compani__comp {
  width: 114px;
  height: 184px;
  margin-top: 38px;
  margin-left: 120px;
}

.compani__comp__compan {
  width: 70px;
  height: 17px;
  margin-top: 11px;
  font-family: 'Montserrat';
  font-size: 14px;
  font-style: normal;
  font-weight: 700;
  line-height: 17px;
  letter-spacing: 0px;
  text-align: center;
}

.compani__comp_ul {
  width: 114px;
  height: 156px;
  margin-top: 11px;
}

.compani__comp_li {
  font-family: 'Roboto';
  font-size: 14px;
  font-style: normal;
  font-weight: 300;
  line-height: 14px;
  text-align: center;
  text-align: left;
  line-height: 26px;
}

.compani__partner {
  width: 64px;
  height: 17px;
  margin-top: 40px;
  margin-left: 169px;
  font-family: 'Montserrat';
  font-size: 14px;
  font-style: normal;
  font-weight: 700;
  line-height: 17px;
  letter-spacing: 0px;
  text-align: center;
}

.right {
  width: 110px;
  height: 43px;
  margin-top: 40px;
  margin-left: 317px;
}

.right_designet {
  width: 89px;
  height: 12px;
  font-family: 'Montserrat';
  font-size: 10px;
  font-weight: 700;
  margin: 0 auto;
  line-height: 12px;
  letter-spacing: 1px;
  text-align: center;
}

.right_des {
  width: 110px;
  height: 34px;
  background-image: url(./style/images/Dreamshare.png);
  background-position: -1080px -3247px;
}

@media (max-width: 992px) {
  .content {
    width: 768px;
    height: 3679px;
  }
  .header {
    height: 700px;
    background-image: url(./style/images/Tablet.png);
  }
  .header__logo {
    width: 88%;
  }
  .header__logo_logo {
    width: 22%;
  }
  .header__logo__log-in {
    margin-left: 365px;
    width: 23%;
  }
  .header_txt {
    width: 62%;
  }
  .header_txt1 {
    width: 52%;
  }
  .header_txt2 {
    width: 29%;
  }
  .section1 {
    width: 98%;
  }
  .how {
    width: 39%;
    height: 27px;
    font-size: 22px;
  }
  .section2 {
    height: 605px;
    background-image: none;
  }
  .meet {
    width: 84%;
    font-size: 22px;
  }
  .blc {
    height: 77%;
  }
  .blc__person_bl1-1, .blc__person_bl1-2, .blc__person_bl1-3, .blc__person_bl1-4 {
    height: 59%;
    width: 51%;
  }
  .blc__person {
    width: 236px;
    height: 44%;
  }
  .section3 {
    width: 98%;
  }
  .discover {
    width: 47%;
    font-size: 22px;
  }
  .img_sport, .img_wellness, .img_exreme, .img_games, .img_trevelling {
    width: 236px;
  }
  .img_culture, .img_relax {
    width: 492px;
  }
  .section4 {
    width: 63%;
  }
  .footer {
    width: 768px;
  }
  .compani {
    width: 90%;
  }
  .compani__comp {
    margin-left: 120px;
  }
  .compani__partner {
    margin-left: 56px;
  }
  .right {
    margin-left: 116px;
  }
}

@media (max-width: 768px) {
  .content {
    width: 320px;
    height: 3916px;
  }
  .header {
    width: 320px;
    height: 540px;
    background-image: url(./style/images/Mobile_Portrait.png);
    background-position: -6px 0;
    margin-bottom: 35px;
  }
  .header__logo {
    width: 48%;
  }
  .header__logo_logo {
    display: none;
  }
  .header__logo__log-in {
    margin-left: 0px;
    width: 100%;
  }
  .header_txt {
    width: 85%;
    height: 74px;
    font-size: 30px;
  }
  .header_txt {
    width: 85%;
    height: 74px;
    font-size: 30px;
    line-height: 36px;
  }
  .header_txt1 {
    width: 88%;
    height: 49px;
    font-size: 18px;
    margin-top: 5.5px;
    line-height: 24px;
  }
  .header_txt2 {
    width: 88%;
    margin-top: 15px;
  }
  .section1 {
    width: 300px;
    height: 781px;
    margin: 35px auto;
  }
  .how {
    width: 100%;
    line-height: 32px;
    margin-bottom: 5px;
  }
  .blc_step1 {
    background-position: 22% -295%;
  }
  .blc_step2 {
    background-position: 50% -295%;
  }
  .blc_step3 {
    background-position: 78% -295%;
  }
  .blc__right {
    margin-top: 69px;
  }
  .blc__step {
    width: 100%;
    height: 240px;
    margin-top: 10px;
  }
  .blc__center {
    margin-top: 95px;
  }
  .section2 {
    height: 1270px;
    width: 94%;
    background-image: none;
    margin-bottom: 0px;
  }
  .meet {
    height: 54px;
    width: 93%;
    text-align: center;
  }
  .blc__person {
    height: 22%;
    margin: 0 auto;
  }
  .blc__person_bl1-1, .blc__person_bl1-2, .blc__person_bl1-3, .blc__person_bl1-4 {
    height: 56%;
    width: 51%;
  }
  .discover {
    width: 89%;
    height: 54px;
    line-height: 26px;
    text-align: center;
  }
  .img {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .img_sport, .img_wellness, .img_exreme, .img_games, .img_trevelling {
    width: 300px;
    height: 120px;
    background-image: url(./style/images/Mobile_Portrait.png);
  }
  .img_sport {
    background-position: 51% 1392px;
  }
  .img_wellness {
    background-position: 51% 1263px;
  }
  .img_exreme {
    background-position: 51% 1129px;
  }
  .img_games {
    background-position: 51% 1005px;
  }
  .img_culture {
    background-position: 51% 870px;
  }
  .img_relax {
    background-position: 51% 745px;
  }
  .img_trevelling {
    background-position: 51% 604px;
  }
  .img_culture, .img_relax {
    width: 300px;
    height: 120px;
    background-image: url(./style/images/Mobile_Portrait.png);
  }
  .section3 {
    margin-bottom: 35px;
  }
  .section4 {
    width: 88%;
    height: 192px;
    margin-bottom: 40px;
  }
  .holiday {
    width: 68%;
    font-size: 22px;
    line-height: 26px;
    height: 54px;
    margin-bottom: 9px;
    text-align: center;
  }
  .interes {
    width: 100%;
    margin-bottom: 15px;
  }
  .form {
    width: 280px;
    height: 40px;
    margin: 0 auto;
  }
  .form_type {
    width: 100%;
  }
  .form_botton {
    width: 100%;
  }
  .footer {
    width: 321px;
    height: 204px;
  }
  .compani__logo {
    margin-top: 21px;
    font-size: 16px;
    line-height: 20px;
  }
  .compani {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .compani__comp {
    width: 280px;
    height: 70px;
    margin: 0 auto;
    margin-top: 13px;
  }
  .compani__comp__compan {
    margin: 0 auto;
  }
  .compani__comp_ul {
    width: 260px;
    height: 52px;
    margin-top: 1px;
    margin-left: 0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -ms-flex-pack: distribute;
        justify-content: space-around;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .compani__comp_li {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .compani__partner {
    margin: 6px auto;
  }
  .right {
    margin-left: 0px;
    margin: 14px auto;
  }
}
/*# sourceMappingURL=main.css.map */